<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596117690028-9ti9vl0pm16nki5rmka57cle8upj8d6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596117690028-9ti9vl0pm16nki5rmka57cle8upj8d6m</string>
	<key>API_KEY</key>
	<string>AIzaSyDPNdDcdxIYNPrO016zIdDK5Q-imKH2EQE</string>
	<key>GCM_SENDER_ID</key>
	<string>596117690028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letschat</string>
	<key>PROJECT_ID</key>
	<string>lets-chat-ea950</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-chat-ea950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596117690028:ios:9e88c31fda8ad5b495f109</string>
</dict>
</plist>